body , html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1; 
    overflow-x: auto;
    font-family: 'Inter', sans-serif;
}
footer{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
.divider {
    background: gray;
    display: flex;
    position: absolute;
    left: 0;
    width: 100%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0;
}
.product-card .card-divider{
    color: #ccc;
    font-size: 0.8rem;
    position: absolute;
    border-top: 1px solid #ccc;
    margin: auto;
    left: 0;
    right: 0;
}
h4 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 700;
    color: #121212;
    padding-left: 7px;
    padding-top: 5px;
}
.header-buttons {
    display: flex;
    gap: 10px;
    margin-left: auto;
    flex-shrink: 0;
}

.header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.header-content .icon{
    height: 120px;
    width: 150px; 
}

.search-container{
    flex: 1;
    min-width: 0;
}
  
.search-field {
    flex: 1;
    flex-grow: 1;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid gray;
    border-radius: 4px;
    box-sizing: border-box;
}
.header-content button {
    display: inline-flex;
    transition: all 0.2s;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 1.2rem;
    max-width: 150px;
    font: 700 1.2rem 'Inter', sans-serif;
    line-height: 1;
    border: 0;
    cursor: pointer;
}
.products-add-btn {
    border-radius: 0;
    background-color: crimson;
    color: white;
    border: 1px solid #121212;
    margin-right: 10px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    flex-shrink: 0;
    max-width: 200px;
    width: auto;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
}
.products-add-btn:hover{
    background-color: rgb(148, 21, 46);
}

.profile-btn{
    border: 3px solid transparent;
    background-image: url("../../assets/images/profile-pic-from-google.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    transition: all 0.2s;
    box-sizing: border-box;
    padding: 10px;
    margin: 0 10px;
}

.nav-bar {
    display: flex;
    justify-content: left;
    margin-top: 15px;
}

.tab {
    margin: 0px 10px 0px;
    padding: 10px 20px;
    cursor: pointer;
    color: gray;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
}
.tab:hover {
    background-color: #f3f3f3;
    border-radius: 4px;
    color: black;
}
.tab:active {
    background-color: #e0e0e0;
    color: black;
}

.tab.active {
    color: crimson;
}
.tab.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 2px;
    width: 100%;
    background-color: red;
    border-radius: 2px;
}

.category-btn{
    margin: 20px 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    border: solid 2px gray;
    border-radius: 20px;
}
.category-btn:hover {
    background-color: #f3f3f3;
    color: black;
}
.category-btn:active {
    background-color: #e0e0e0;
    color: black;
}
.category-btn.active {
    color: white;
    background-color: black;
}

.brand-btn{
    margin: 20px 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: white;
    color: black;
    font-weight: bold;
    position: relative;
    transition: color 0.3s;
    border: solid 2px gray;
    border-radius: 20px;
}
.brand-btn:hover {
    background-color: #f3f3f3;
    color: black;
}
.brand-btn:active {
    background-color: #e0e0e0;
    color: black;
}
.brand-btn.active {
    color: white;
    background-color: black;
}
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 15px;
    justify-items: center;
    align-items: start;
}
.product-card {
    background-color: #f9f9f9;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: left;
    transition: transform 0.2s, box-shadow 0.2s;
}
.product-card .product-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
.product-price, .product-desc , .product-instal-price{
    display: block;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.product-desc{
    background: linear-gradient(to right, #ff8a00, #e52e71);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: 800;
    color: transparent;
}
.product-price{
    margin-bottom: 10px;
    display: block;
    text-align: right;
    font-weight: 700;
    color: #121212;
    font-size: 0.9rem;
}
.product-instal-price{
    margin-bottom: 10px;
    display: block;
    text-align: right;
    font-weight: 700;
    color: #121212;
    font-size: 0.9rem;
}

.product-card:hover {
    transform: translateY(-4px);
    cursor: pointer;
}

.products-grid .product-card .product-image {
    width: 100%;
    height: auto;
    max-width: 800px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}
.manage-btns-section {
    display: flex;
    justify-content: start;
    align-items: center;
    button{
        transition: all 0.2s;
    }
}
.delete-product-btn{
    color: rgb(255, 65, 65);
    font-size: 1.4rem;
    background-color: rgb(252, 193, 193);
    border: 0;
    border-radius: 100%;
    margin: 0 10px;
    padding: 10px;
}
.edit-product-btn{
    color: black;
    font-size: 1.4rem;
    background-color: transparent;
    border: 0;
    border-radius: 100%;
    margin: 0 10px;
    padding: 10px;
}


.delete-product-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.edit-product-btn:hover{
    background-color: #ccc;
    transform: scale(1.1);
    cursor: pointer;
}