* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    opacity: 1;
    transition: opacity 0.2s all;
}

.head{
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 0.4px solid rgba(179, 179, 179, 1);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 30;
}

.logo img {
    padding: 0 10px;
   
    width: 200px;   
}
.component{
    background-color: rgba(248, 248, 248, 1);
    display: flex;   
    height: 100%;
    width: 100%;
}
.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 20px;
    width: 78%;
}
.adress{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    
}
.adress .addd{
    padding: 10px 15px;
    font-size:24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.adress .add2{
    border: none;
    background: none;
    outline: none;
    text-align: left;
    padding-left:  16px;
    padding-bottom: 16px; 
    font-size:16px;
    color:rgba(195, 28, 28, 1);
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
    cursor: pointer;
}
.adress .add2:hover span{
    color:crimson;
}

.payment{
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    box-shadow: 0 0.3px 1px rgba(0, 0, 0, 0.2);
  
}
.payment h2{
    padding: 10px 15px;
    font-size:24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
}
.selectcard{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    
    gap: 10px;

}
.selectcard p:hover{
    color: rgb(200, 24, 24);
}

    
.circle{
    
    background-color: rgba(255, 255, 255, 1);
    border: 0.3px solid rgba(179, 179, 179, 1);
    height: 25px;
    width: 25px;
    border-radius: 50%;

}
.credit{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 25px;
   
}
.selectcard p{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.card-type{
    padding-bottom:20px ;
    padding-left: 50px;
    display: flex;
    gap: 3px;
}
.card-type div{
    border: 0.3px solid rgba(179, 179, 179, 1);
    
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-type div img{
    height: 20px;
    width: 30px;
}
.product{
    display: flex;
   align-items: center;
   background-color: rgba(255, 255, 255, 1);
   box-shadow: 0 0.3px 1px rgba(0, 0, 0, 0.2);
   border-radius: 12px;
}
.img{
    padding:10px 0px;
}
.img img{
 height: 200px;
 width: 200px;   
}
.info-device{
    padding:10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.info-device h2{
    font-weight: bold;
    font-size: 24px;
}
.info-device h6{
    color: rgba(142, 142, 142, 1);
    font-size: 15px;
    font-weight: bold;

}
.info-device p{
    font-size: 32px;
    font-weight: bold;
    color: rgba(195, 28, 28, 1);
}
.quan{
    padding-left: 25%;
    padding-top: 7%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: end;
}
.quantity{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color:rgba(242, 242, 242, 1) ;
    border-radius: 12px;
    width: 150px;

}
.minus{
    color: rgba(195, 28, 28, 1);
    font-size: 32px;
    font-weight: bold;
    border: none;
    background: none;
    outline: none; 
    cursor: pointer;
}
.add{
    color: rgba(195, 28, 28, 1);
    font-size: 32px;
    font-weight: bold;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.quantity p{
    font-size: bold;
    font-size: 24px;
}
.delete{
    background-color: rgba(255, 225, 225, 1);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.delete i{
    color: rgba(248, 89, 89, 1);
}
.right{

   margin-top:30px;
   border-radius: 12px;
   box-shadow: 0 0.3px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right h1{
    font-weight: bold;
    font-size: 32px;
    padding: 5px 15px;
}
.subtotal{
    padding: 5px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtotal h3{
    font-size: 24px;
    font-weight: bold;

}
.subtotal span{
    font-size: 24px;
    font-weight: bold;
}
.proma{
    padding: 5px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.proma h3{
    font-size: 24px;
    font-weight: bold;  
}
.proma button{
    border: none;
    background: none;
    outline: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.shipping-fee{
    padding: 5px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
.shipping-fee h3{
    font-size: 24px;
    font-weight: bold;
}
.shipping-fee span{
    font-size: 24px;
    font-weight: bold;
}
.line{
    height:0.2px;
    margin: 10px;
    background-color: rgba(179, 179, 179, 1);
}
.total{
    padding: 8px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;     
}
.total h3{
    font-size: 32px;
    font-weight: bold;
}
.total span{
    font-size: 32px;
    font-weight: bold;
}
#place-order{
   margin-top: 10px;
   margin-left: 15px;
   margin-right:15px ;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    
    outline: none;
    font-size: 24px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    background-color:rgba(195, 28, 28, 1) ;
    cursor: pointer;
}
.terms{
    padding: 8px 15px;
    font-size: 14px;
    font-weight: bold;
}
.terms a{
    padding-left: 10px;
    color: blue;
}
.scrollable{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 400px; 
  overflow-y: auto;
  padding-right: 8px;
}

/* adress css*/
.address-modal {
    position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
  }
  .address-container {
    background-color: white;
    width: 100%; 
    max-width: 800px;    
    min-width: 300px;     
    padding: 20px;
    border-radius: 12px;
   
   
    overflow-y: auto;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .close{
    display: flex;
    justify-content: space-between;
   
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .close-modal {
    
    top: 12px;
    right: 16px;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }
h1{
    font-weight: bold;
    font-size: 30px;
}
.country-container{
    border-bottom:0.5px solid rgb(216, 216, 216) ;
    padding-bottom: 20px;
}
#country-select{
    width: 45%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    margin: 15px 0;

}
.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom:0.5px solid rgb(216, 216, 216) ;
    padding-bottom: 20px;
    

}
.name{
    width: 45%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    border: 0.5px solid rgb(216, 216, 216) ;
    margin: 15px 0;

}
.name-phone{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.contact-info p{
    margin-top: 3px;
    margin-left: 3px;
    font-size: 10px;
    font-weight: 400;
}
.phone-number{
    width: 45%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    border: 0.5px solid rgb(216, 216, 216) ;
    margin: 15px 0;

}
.Address{
    
    border-bottom:0.5px solid rgb(216, 216, 216) ;
    padding-bottom: 20px;
    margin-bottom: 30px;

}
.two-inputs{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    gap: 15px;
    flex-wrap: wrap;
   
}
.two-inputs input{
    width: 45%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    border: 0.5px solid rgb(216, 216, 216) ; 

}
.three-inputs{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    flex-wrap: wrap;
    gap: 15px;
}
.three-inputs input{
    width: 28%;
    height: 40px;
    border-radius: 8px;
    padding: 0 10px;
    border: 0.5px solid rgb(216, 216, 216) ;
}
.Save-address{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: end;
    width: 14%;
    height: 35px;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(195, 28, 28, 1);
    color: white;
    border: none;
    border-radius:8px ;
}
/* card payment*/
.card-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.payments{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap;
    border-radius: 12px;
    width: 45%;
    padding: 0 20px;
}
.close-p{
    display: flex;
    justify-content: space-between;
   
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .close-modal-p {
    
    top: 12px;
    right: 16px;
    font-size: 24px;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
  }
.number-name{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
}
.number-name input{
    width: 48%;
    border-radius: 8px;
    height: 40px;
    border:1.5px solid rgb(216, 216, 216) ;
    padding: 0 10px;
}
.info-card{
    display: flex;
    justify-content: space-between; 
    padding-bottom: 35px;
}
.CVV{
    width: 48%;
    border-radius: 8px;
    height: 40px;
    border:1.5px solid rgb(216, 216, 216) ;
    padding: 0 10px; 
}
.MM{
    border-radius: 8px;
    border:1.5px solid rgb(216, 216, 216) ;
    height: 40px;
    width: 22.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px ;
    font-weight: 400; 
    color: rgb(147, 146, 146);
}
.YY{
    border-radius: 8px;
    border:1.5px solid rgb(216, 216, 216) ;
    height: 40px;
    width: 22.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 10px ;  
    font-weight: 400; 
    color: rgb(147, 146, 146);

}

.card-saver{
    cursor: pointer;
    border: none;
    border-radius: 6px;
    align-self: end;
    height: 35px;
    width: 14%;
    background-color:rgba(195, 28, 28, 1) ;
    color: white;
    margin-bottom: 20px;
    font-size: large;
    font-weight: bold;
}
.card-saver:hover{
background-color:rgb(148, 0, 0) ;
}